<br />
<br />
<br />
<div class="cheader">
    <div class="container">
        <div class="row">
            <div class="span11 offset1">
                <div class="cheaderbox">
                    <h2>A New Fresh Urban Market</h2>
                    <h3>Sponsored by a Local Community Investment Group</h3></div>
                    <h4><i class="icon-home"></i> Washington, DC</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span1">
            <center>
            <div class="social-tools">
                <span class='st_facebook_vcount' displayText='Facebook'></span>
                <span class='st_twitter_vcount' displayText='Tweet'></span>
                <span class='st_email_vcount' displayText='Email'></span>
            </div>
            </center>
        </div>
        <div class="span7 campaignmiddlebar">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#updates" data-toggle="tab">Updates</a></li>
                    <li><a href="#backers" data-toggle="tab">Backers</a></li>
                    <li><a href="#discussion" data-toggle="tab">Discussion</a></li>
                </ul>
            </div>
            <div class="tab-content">

                <!-- Home -->
                <div class="tab-pane active" id="home">
                    <div class="aboxl">
                        <center><img src="assets/market.jpg" width="650px"></center>
                    </div>
                    <div class="aboxl">
                        <h3>Project Description</h3>
                        <p>After years of waiting for a major developer to bring a quality grocery and market to this urban neighborhood, local residents are working with a professional produce supplier to create a new fresh market to serve locals high quality food.</p><br />
                        <p>The project sponsor has already negotiated a lease to the storefront and only needs the financial backing to make this dream a reality. Supporters who fund this project will be directly responsible for bringing high quality produce to an underserved part of town, and will get to enjoy a great new market to shop at at the same time!</p><br />
                        <h3>Financial Status of Project</h3>
                        <p>The Project Sponsor has already secured over $100,000 in local investor funds, and has negotiated a line of credit with the local bank, however this is not enough to make this project a reality. In order to be successful, this project will need to raise $100,000 more (for a total of $200,000) in order to successfully purchase new equipment (refrigerators, registers, furnishings), make appropriate lease payments and retain enough working capital for operations.</p><br />
                        <h3>About the Project Sponsor</h3>
                        <p>Brian S. is a talented and socially-motivated entrepreneur. Having spent over 9 years working in management for major grocery retailers, this new market is his dream to delivery a high quality market to his neighborhood. In addition to his expertise in the industry, Brian has also retained Fresh Farms, LLC to provide all the fresh produce on a semi-weekly basis to the Market. Fresh Farms is a leading produce supplier to many DC markets and restaurants.</p><br />
                        <h3>What's Next?</h3>
                        <p>Once the project has been fully funded, Brian will sign the lease paperwork and immediately begin renovating the space for the market.</p><br />
                    </div>
                </div>

                <!-- Updates -->
                <div class="tab-pane" id="updates">
                    <div class="aboxl">
                        <h3>Updates</h3>
                        <p><i>No updates yet, please check back later.</i></p><br />
                    </div>
                </div>

                <!-- Backers -->
                <div class="tab-pane" id="backers">
                    <div class="aboxl">
                        <h3>Backers</h3>
                        <p><strong>John S</strong> made a $50 donation</p>
                        <p><strong>Isabel F</strong> made a $150 donation</p>
                        <p><strong>Teresa S</strong> made a $20 donation</p>
                        <p><strong>Grant H</strong> made a $10 donation</p>
                        <p><strong>Irvin W</strong> made a $150 donation</p>
                        <p><strong>Heidi P</strong> made a $50 donation</p>
                        <p><strong>Ella V</strong> made a $50 donation</p>
                        <p><strong>Aiden T</strong> made a $1050 donation</p>
                        <p><strong>Ali S</strong> made a $150 donation</p>
                        <p><strong>Gwen B</strong> made a $10 donation</p>
                        <p><strong>Moises S</strong> made a $150 donation</p>
                        <p><strong>Crystal B</strong> made a $20 donation</p>
                        <p><strong>Shonda M</strong> made a $20 donation</p>
                        <p><strong>Amir R</strong> made a $150 donation</p>
                        <p><strong>Darren Q</strong> made a $150 donation</p>
                        <p><strong>Kiersten N</strong> made a $50 donation</p>
                        <p><strong>Alex A</strong> made a $10 donation</p>
                        <p><strong>Omar B</strong> made a $50 donation</p>
                        <p><strong>Amir R</strong> made a $20 donation</p>
                        <p><strong>Carolina W</strong> made a $150 donation</p>
                        <p><strong>John S</strong> made a $50 donation</p>
                    </div>
                </div>

                <!-- Discussion -->
                <div class="tab-pane" id="discussion">
                    <div class="aboxl">
                        <h3>Discussion</h3>
                        <p><i>No discussions yet, please check back later.</i></p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="span4 campaignrightbar">
                <div class="aboxr">
                    <strong><h4>Amount Raised: $75,000</h4></strong>
                    <div class="progress">
                        <div class="bar bar-success" style="width: 75%;"></div>
                    </div>
                    <h4>Out of: $100,000 goal</h4>
                    <h4>Total Contributors: 776</h4>
                </div>
                <div class="ownerbox">
                    <p>Campaign started by <strong>Brian</strong> of <strong>Washington, DC</strong></p>
                </div>
                <div class="perkbox">
                    <h4>$10 Donation</h4>
                    <p>Once fully operational, the New Market will donate one lunch on your behalf to the local school</p>
                </div>
                <div class="perkbox">
                    <h4>$20 Donation</h4>
                    <p>Be invited to our opening day as one of the first customers and receive a custom-made reusable grocery bag made exclusively for project backers</p>
                </div>
                <div class="perkbox">
                    <h4>$50 Donation</h4>
                    <p>Receive everything from lower sponsorship levels, and also have your name placed in the announcement newsletter as a backer of the new market</p>
                </div>
                <div class="perkbox">
                    <h4>$150 Donation</h4>
                    <p>Receive everything above, and once the Market opens we will deliver a crate of the best local seasonal fruits and vegetables to your door.</p>
                </div>
        </div>
    </div>
</div>