<div id="aboutus">
  <div class="container">
    <div class="row">
      <div class="span7">
        <h2>Contact Us</h2>
        <p>Thank you for your interest in PluribusFund! We are excited to start funding local projects, organizations and businesses and hope you will check back frequently for new updates.</p><br />
        <p>If you would like to get ahold of us, please feel free to email us at anytime at: <strong>info (at) pluribusfund.com</strong></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>