<div id="customtitlebar">
  <div id="customtitlebarcontent">
    <h1>PluribusFund is a crowdfunding platform designed to serve and build local DC Metro area communities</h1>
    <%= link_to "Learn More", about_path, :class => "btn" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h2>Local</h2>
      <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i><br /><br />
      <p style="font-size: 16px;">Our goal is to direct crowdfunded investment into local businesses, non-profits, community groups, religious institutions and creative projects – allowing DC area citizens to make a direct impact on their communities.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h2>Community-Based</h2>
      <i class="icon-home" style="font-size: 60px;"></i>
      <p style="font-size: 16px;">PluribusFund seeks to empower existing community networks to fund local initiatives that will strengthen and improve the quality of life for local funders.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      <h2>Social</h2>
      <i class="icon-share" style="font-size: 60px;"></i>
      <p style="font-size: 16px;">By facilitating social involvement and interaction between funders and funded, PluribusFund works to increase trust and transparency through both online and in-person interaction with recipient organizations.</p>
    </div>
  </div>
</div>
<div id="features">
  <div class="container">
    <!-- <div class="section_header">
        <h2>All About Pluribus</h2>
    </div> -->
    <!-- <div class="row feature">
        <div class="span6">
            <img src="assets/local.jpg" />
        </div>
        <div class="span6 info">
            <h3>
                <center>Local Projects, Local Funding</center>
            </h3>
            <p style="font-size: 17px; text-align: justify; word-spacing: 4px;">
                Whether it be community-service, food, culture, arts, education or business, Pluribus is dedicated to connecting local residents with high quality organizations in their community. By directing investment locally, citizens can make a direct impact on the communities in which they live.
            </p>
        </div>
    </div> -->
    <div class="row feature ss">
      <div class="span6 info">
        <h3>
          <center>Built Upon Trust</center>
        </h3>
        <p style="font-size: 17px; text-align: justify; word-spacing: 4px; padding-left: 60px;">
          To protect funders' donations and investments, all organizations seeking funds through Pluribus will be subject to our due diligence process. Our due diligence process includes background information on project leadership, organization history and a credible plan what the funds will be used for. Any campaign not able to provide this information will never be hosted here. In addition to protecting funders' investments, this process is designed to enhance the credibility and trust given to all projects hosted by PluribusFund to maximize funding.
        </p><br /><br />
      </div>
      <div class="span6" style="text-align: center;">
        <img src="assets/process.png"/>
      </div>
    </div>
  </div>
</div>