<div id="aboutus">
  <div class="container">
    <h2>Interested in Raising Funds?</h2><br />
    <div class="row">
      <div class="span9 intro">
        <p style="font-size: 17px; word-spacing: 3px;">PluribusFund is looking to partner with high-quality organizations to develop and ultimately fund exciting projects, organizations and businesses in the DC area. If you feel that you have a great idea for a project and would be interested in partnering with PluribusFund to help fund your idea, we would like to hear from you!</p><br />
        <p style="font-size: 17px; word-spacing: 3px;">Please send us an note using the form below with a brief description of your project and we will do our best to respond within 24 hours:</p><br />
        <%= render 'home/contact_form' %>
      </div>
    </div>
  </div>
</div>