.btn-custom {
  background-color: hsl(184, 100%, 24%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00becc", endColorstr="#00727a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00becc), to(#00727a));
  background-image: -moz-linear-gradient(top, #00becc, #00727a);
  background-image: -ms-linear-gradient(top, #00becc, #00727a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00becc), color-stop(100%, #00727a));
  background-image: -webkit-linear-gradient(top, #00becc, #00727a);
  background-image: -o-linear-gradient(top, #00becc, #00727a);
  background-image: linear-gradient(#00becc, #00727a);
  border-color: #00727a #00727a hsl(184, 100%, 20%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

.cheader .offset1 {
    margin-left: 115px;
}

#stwrapper {
    display: none;
}

.section_header {
    margin-bottom: 35px;
}

.social-tools {
    display: block;
    min-width: 70px;
    margin-top: 47px;
    padding: 5px 0 5px 0;
    /*position: absolute;*/
    height: auto;
    background-color: transparent;
    bottom: 50px;
    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.campaignmiddlebar {
    margin-left: 10px;
}

.campaignrightbar {
    margin-left: 10px;
    padding-top: 38px;
}

.nav-tabs {
    margin-bottom: 0px;
}

.nav-tabs ul {
    margin-bottom: 0px;
}

.navbar.navbar-inverse .navbar-inner {
    padding: 5px 0px 0px 0px;
}

.testborder {
    margin-right: 1px;
}

li {
    margin-bottom: 10px;
}

#features {
    margin-top: 40px;
}

.navbar-inverse .nav > li > a {
    font-size: 14px;
}

.span2 {
    max-width: 140px;
}

.alert .navbar .navbar-static-top { 
    margin-bottom: 0;
}

#footer { 
    margin-top: 0px;
    padding-top: 5px;
}

#footer .credits { padding: 10px 0px 10px 0px;}

#footer .credits .copyright { 
    margin-top: 10px;
}

#footer .credits .social { 
    margin-top: 10px; 
}

#footer .footer_header {
    margin-bottom: 20px;
    text-align: center;
}

#footer .container {margin-top: 0px;}

#aboutus { 
    margin-top: 85px; margin-bottom: 45px;
}

#customtitlebar {
    background: url('/assets/titlebar.jpg') no-repeat;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    height: 380px;
    margin-top:-20px;
    margin-bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
}

#customtitlebarcontent {
    margin: 0 auto; max-width: 960px;
    padding:110px 0px 80px 70px;
    word-spacing: .4em;
}

#customtitlebarcontent h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #C0CCCB;
    line-height: 1;
}

.campaign {
    -moz-border-radius: 15px;
    border: solid;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px;
    display: block;
}

.campaign .testbox {
    border: solid;
    border-radius: 15px;
    border-width: 1px;
    margin-left: 2.127659574%;
}

@media (max-width: 767px) {
  /*  #customtitlebar {background: none; height: auto;} */
    #customtitlebarcontent h1 {font-size: 35px;}
}

@media (max-width: 979px) {
    /* .navbar-fixed-top, .navbar-fixed-bottom { position: fixed; padding: 0 30px 0 30px;}  This doesn't quite work since the content bleeds offscreen */
}

.navbar-fixed-top {
    -webkit-box-shadow: 0 3x 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.3);
    box-shadow: 0 3px 6px rgba(0,0,0,.3); 
}

.btn { 
    word-spacing: .25em; 
    font-size: 16px; 
    line-height: 25px; 
    font-weight:bold;
}

/**
 * Solution 1 (not responsive)
 * Any width for borders is ok.
 * May be able to optimize by setting global style and
 * `border-style`'ing to none (see Solution 2 for example)
 */

.row > [class*="span"]:first-child > .inner {
    border-left: 5px solid red;
}
.row > [class*="span"]:last-child > .inner {
    border-right: 5px solid red;
}

/* Testing purposes */

.container.unpadded { margin-top: 0px; }
.row > [class*="span"] > .inner,
.row-fluid [class*="span"],
.css3  [class*="span"] { background-color: blue;color: white;text-align: center; }

.inner,
.inner-fluid > [class*="span"],
.css3  [class*="span"] { min-height: 50px;padding: 20px; }


/* ==========================================================================
Replace 1170px grid with 960px grid on "Large Desktops"
========================================================================== 

@media (min-width: 1200px) {
.row {
/* margin-left: -20px;   What does this do? 
*zoom: 1;
}
.row:before,
.row:after {
display: table;
line-height: 0;
content: "";
}
.row:after {
clear: both;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
width: 940px;
}
.span12 {
width: 940px;
}
.span11 {
width: 860px;
}
.span10 {
width: 780px;
}
.span9 {
width: 700px;
}
.span8 {
width: 620px;
}
.span7 {
width: 540px;
}
.span6 {
width: 460px;
}
.span5 {
width: 380px;
}
.span4 {
width: 300px;
}
.span3 {
width: 220px;
}
.span2 {
width: 140px;
}
.span1 {
width: 60px;
}
.offset12 {
margin-left: 980px;
}
.offset11 {
margin-left: 900px;
}
.offset10 {
margin-left: 820px;
}
.offset9 {
margin-left: 740px;
}
.offset8 {
margin-left: 660px;
}
.offset7 {
margin-left: 580px;
}
.offset6 {
margin-left: 500px;
}
.offset5 {
margin-left: 420px;
}
.offset4 {
margin-left: 340px;
}
.offset3 {
margin-left: 260px;
}
.offset2 {
margin-left: 180px;
}
.offset1 {
margin-left: 100px;
}
} */

.cheaderbox {
    margin-top: 20px;
    /* max-width: 940px;*/
    margin-bottom: 5px;
    /*padding: 5px 15px 1px 15px;*/
    /*background-color: white;*/
    /*-webkit-border-radius:6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 2px #949494;
    -webkit-box-shadow: 1px 1px 2px #949494;
    box-shadow: 1px 1px 2px #949494;*/
}

/*.cheader {
    background-color: white;
}
*/
.aboxl {
    margin-bottom: 20px;
    margin-left: 1px;
    padding: 15px;
    background-color: white;
    -webkit-border-radius: 0px 2px 2px 2px;
    -moz-border-radius: 0px 2px 2px 2px;
    border-radius: 0px 2px 2px 2px;
    -moz-box-shadow: 1px 1px 2px #949494;
    -webkit-box-shadow: 1px 1px 2px #949494;
    box-shadow: 1px 1px 2px #949494;
}

.aboxr, .ownerbox, .perkbox {
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 2px #949494;
    -webkit-box-shadow: 1px 1px 2px #949494;
    box-shadow: 1px 1px 2px #949494;
}

.aboxr h3 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.ownerbox {
    padding-top: 10px;
    padding-bottom: 5px;
}

.perkbox {
    background-color: #E0FFFF;
}

.perkbox h4 {
    padding-bottom: 5px;
    border-bottom:1px solid #888888;
}

.perkbox:hover {
    background-color: #66FFCC;
}

.container {
    margin-top: 15px;
}

.tribar {
    text-align: center;
    margin: 15px 10px 15px 10px;
}

.tribar i {
    font-size: 40px;
}

.tribar h2 {
    magin-top: 0;
}

/* Sign Up Option 1 */
#sign_up1{
    background: url("../assets/ocean.jpg")  no-repeat;
    display: block;
    /* height: 540px; */
    /* margin-bottom: 90px; */
    margin-top: -35px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#sign_up1 .header{
    text-align: center;
    margin: 0;
    color: #fff;
    margin-top: 85px;
    padding-left: 20px;
}
#sign_up1 .header h4{
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 38px;
    font-weight: 300;
    text-shadow: 1px 1px 0px #143C4E;
}
#sign_up1 .header p{
    font-style: italic;
    font-size: 17px;
    margin: 0 0 40px 0;
}
#sign_up1 .header .social{
    margin: 0 auto 28px;
    float: none;
    text-align: center;
}
#sign_up1 .header .social a.circle{
    text-align: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin-right: 25px;
    display: inline-block;
    -webkit-transition: border-color ease-in .1s;
    -moz-transition: border-color ease-in .1s;
    -o-transition: border-color ease-in .1s;
    transition: border-color ease-in .1s;
}
#sign_up1 .header .social a.circle img{
    display: inline-block;
    margin-top: 15px;
}
#sign_up1 .header .social a.facebook{
    border:2px solid #233678;
    background: #233678;
}
#sign_up1 .header .social a.twitter{
    border:2px solid #54AEE1;
    background: #54AEE1;
}
#sign_up1 .header .social a.gplus{
    border:2px solid #292929;
    background: #292929;
    margin: 0;
}
#sign_up1 .header .social a.circle:hover{
    border-color: rgb(255, 255, 255);
}
#sign_up1 .division{
    margin: 0 auto 50px;
    float: none;
    left: -6px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#sign_up1 .division .line{
    border-top: 1px solid rgb(104, 167, 196);
    width: 34%;
    top: 10px;
    position: absolute;
}
#sign_up1 .division .l{
    left: 0;
}
#sign_up1 .division .r{
    right: 0;
}
#sign_up1 .division span{
    color: #fff;
    font-size: 17px;
}
#sign_up1 .footer form{
    margin: 0 0 46px 0;
}
#sign_up1 .footer input[type="text"],
#sign_up1 .footer input[type="password"] {
    border-radius: 3px;
    font-size: 16px;
    height: 25px;
    margin: 0 10px 0px 0;
    color: black;
    width: 27%;
}
#sign_up1 .footer input[type="submit"]{
    text-transform: uppercase;
    color: #fff;
    background: #187CCC;
    font-size: 15px;
    padding: 8px 18px;
    border: 0 none;
    border-radius: 3px;
    -webkit-transition: background linear .2s, box-shadow linear .2s;
    -moz-transition: background linear .2s, box-shadow linear .2s;
    -o-transition: background linear .2s, box-shadow linear .2s;
    transition: background linear .2s, box-shadow linear .2s;
}
#sign_up1 .footer input[type="submit"]:hover{
    background: #252528;
}
#sign_up1 .remember label.checkbox{
    float: left;
    font-weight: bold;
    width: 30%;
    font-size: 14px;
    color: #fff;
}
#sign_up1 .remember a{
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid white;
    font-weight: bold;
}
#sign_up1 .dosnt{
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 25px;
}
#sign_up1 .dosnt span{
    margin-right: 8px;
}
#sign_up1 .dosnt a{
    color: #fff;
    border-bottom: 1px solid white;
}
#sign_up1 .dosnt a:hover,
#sign_up1 .remember a:hover{
    color:#252528;
    border-color: #252528;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.navbar-inverse .brand {
    font-size: 23px;
}